<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/cerulean/bootstrap.min.css">
        {% block stylesheets %}
            
        {% endblock %}
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ path('ticket_own') }}">Mes Tickets
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('ticket') }}">Tickets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('ticket_create') }}">Creer un ticket</a>
      </li>
      {% if not app.user %}
      <li class="nav-item">
        <a class="nav-link" href="{{ path('security_login') }}">Connexion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('security_registration') }}">Inscription</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{{ path('security_logout') }}">Deconnexion</a>
      </li>
      {% endif %}
      {% if app.user != null %}
      {% if app.user.level == 3 %}
      <li class="nav-item">
        <a class="nav-link" href="{{ path('security_createAdmin') }}">Creer compte admin/support</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('security_modifUser') }}">Modifier mdp/login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('categorie') }}">Modifier categorie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('categorie_add') }}">Ajouter une categorie</a>
      </li>
      {% endif %}
      {% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="container">
        {% block body %}{% endblock %}
    </div>
    </body>
</html>
