{% extends 'base.html.twig' %}

{% block title %}Hello TicketController!{% endblock %}

{% block body %}

{% for category in categories %}
<ticket>
<h2></h2>
<div class="metadata">
<a href="{{ path('categorie_remove', {'id': category.id }) }}" class="btn btn-primary">Supprimer la catégorie</a>
<a href="{{ path('categorie_modif', {'id': category.id }) }}" class="btn btn-primary">Modifier la catégorie</a>Nom categorie: {{ category.title }} </div>


</div>
</ticket>
{% endfor %}

{% endblock %}