{% extends 'base.html.twig' %}
{% block body %}
    <h1>Creer un compte admin ou support</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success">Creer le compte</button>
    {{ form_end(form) }}
{% endblock %}