{% extends 'base.html.twig' %}
{% block body %}
    <h1>Modification d'un compte</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success">Modifier le compte</button>
    {{ form_end(form) }}
{% endblock %}