{% extends 'base.html.twig' %}

{% block title %}Hello TicketController!{% endblock %}

{% block body %}

{% for user in users %}
<ticket>
<h2></h2>
<div class="metadata"><a href="{{ path('security_editUser', {'id': user.id }) }}" class="btn btn-primary">Modifier le compte</a> email: {{ user.email }} Username: {{ user.username }} </div>

</div>
</ticket>
{% endfor %}

{% endblock %}