{% extends 'base.html.twig' %}
{% block body %}
<H1>Création d'un ticket</H1>
{% if app.user.level == 1 %}
{{ form_start(formTicket) }}
{{ form_row(formTicket.title) }}
{{ form_row(formTicket.content) }}

{{ form_row(formTicket.category) }}


<button type="submit" class="btn btn-success">
 {% if editMode %}
 Modifier le ticket
 {% else %}
 Ajouter le ticket
 {% endif %}
 </button>

{{ form_end(formTicket) }}
{% endif %}

{% if app.user.level > 1 %}
{{ form_start(formTicket) }}
{{ form_row(formTicket.category) }}

<button type="submit" class="btn btn-success">
 {% if editMode %}
 Modifier la catégorie
 {% else %}
 Ajouter le ticket
 {% endif %}
 </button>

{% endif %}
{% endblock %}