{% extends 'base.html.twig' %}

{% block title %}Hello TicketController!{% endblock %}

{% block body %}

{% for ticket in tickets %}
{% if ticket.etat == "Ouvert" %}
<ticket>
<h2>{{ ticket.title }}</h2>
<div class="metadata"> Redigé le {{ ticket.createdAt | date('d/m/Y') }} à {{ ticket.createdAt | date('H:i') }} dans la catégorie Casse </div>
    {{ ticket.content | raw }}
    <a href="{{ path('ticket_show', {'id': ticket.id }) }}" class="btn btn-primary">Lire la suite</a>
    {% if app.user.level > 1 %}
    <a href="{{ path('ticket_show', {'id': ticket.id }) }}/edit" class="btn btn-primary">editer la catégorie</a>
    <a href="{{ path('ticket_show', {'id': ticket.id }) }}/remove" class="btn btn-primary">Fermer le ticket</a>
    {% endif %}
    {% endif %}
</div>
</ticket>
{% endfor %}

{% endblock %}
