{% extends 'base.html.twig' %}

{% block title %}Hello TicketController!{% endblock %}

{% block body %}

{% for ticket in tickets %}
{% if user == ticket.author %}
<ticket>
<h2>{{ ticket.title }}</h2>
<div class="metadata"> Redigé le {{ ticket.createdAt | date('d/m/Y') }} à {{ ticket.createdAt | date('H:i') }} dans la catégorie Casse </div>
    {{ ticket.content | raw }}
    <a href="{{ path('ticket_show', {'id': ticket.id }) }}" class="btn btn-primary">Lire la suite</a>
    <a href="{{ path('ticket_show', {'id': ticket.id }) }}/edit" class="btn btn-primary">editer le ticket</a>

</div>
</ticket>
{% endif %}
{% endfor %}

{% endblock %}
