{% extends 'base.html.twig' %}
{% block body %}
<ticket>
<h2>{{ ticket.title }}</h2>
<div class="metadata"> Redigé le {{ ticket.createdAt | date('d/m/Y') }} à {{ ticket.createdAt | date('H:i') }} dans la catégorie {{ ticket.category.title }} </div>
    {{ ticket.content | raw }}
</div>
</ticket>
<section id="commentaires">
<h1>Commentaires :</h1>
{% for comment in ticket.comments %}
    <div class="comment">
    <div class="row">
        <div class="col-3">
            {{ comment.author }} (<small>{{ comment.createdAt | date('d/m/Y à H:1')}}</small>)
        </div>
        <div class="col">
            {{ comment.content | raw }}
        </div>
    </div>
    </div>
{% endfor %}
{% if app.user %}
{% if app.user.level > 1 %}
    {{ form_start(commentForm) }}
    {{ form_row(commentForm.author, {'attr': {'placeholder': "Auteur"}}) }}
    {{ form_row(commentForm.content, {'attr': {'placeholder': "Commentaire"}}) }}
    <button type="submit" class="btn btn-success">Commenter</button>
    {{ form_end(commentForm) }}
    
{% endif %}
{% endif %}
{% if app.user and app.user == ticket.author %}
    {{ form_start(commentForm) }}
    {{ form_row(commentForm.author, {'attr': {'placeholder': "Auteur"}}) }}
    {{ form_row(commentForm.content, {'attr': {'placeholder': "Commentaire"}}) }}
    <button type="submit" class="btn btn-success">Commenter</button>
    {{ form_end(commentForm) }}
{% else %}
{% if app.user %}
{% if app.user.level == 1 %}
<h2>Seul l'auteur du ticket ou le support technique peut répondre</h2>
{% endif %}
{% else %}
<h2>Connectez vous pour ajouter un commentaire</h2>
<a href="{{ path('security_login') }}" class="btn btn-primary">
Login
</a>
{% endif %}
{% endif %}
</section>
{% endblock %}